@import "styles/navigation.css";
@import "styles/landing-page.css";
@import "styles/about-us.css";
@import "styles/pricing.css";
@import "styles/contacts.css";
@import "styles/animations.css";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    padding-top: 5vh;
/* Created with https://www.css-gradient.com */
    background: #0e0e0efc;
    color: red;

    font-family: 'Silkscreen', cursive;
}
.app-container{
    width: 100%;
    height: auto;
}
.container{
    width: 100%;
    height: auto;
}
.text-shadow-purple{
    text-shadow:0.5px 2px #7936c6c0;
}
.text-shadow-yellow{
    text-shadow:0.5px 2px #c3b877c1;
}

#yellow-color{
    color: #e2cb56;
}
#purple-color{
    color: #7836c6;
}
#text-size-medium{
    font-size: 2rem;
}
#quote-size{
    font-size: 1.5rem;
}
#price-size{
    font-size: 3.2rem;
}
#price-name{
    font-size: 2.2rem;

}
